---
import styles from "../styles/About.module.css"
import Divider from "./Divider.astro"
---

<section id="server" class={styles.about}>
    <h2>Credits</h2>
    <Divider />
    <article class={styles.textArticle}>
        <li>
            <a href="https://henryhiles.com">Henry Hiles</a> (AKA QuadRadical) -
            Made this website
            <ul>
                <li><a href="https://henryhiles.com/#hire">Hire me</a></li>
                <li>
                    <a href="https://github.com/Henry-Hiles"
                        >Check out my GitHub</a
                    >
                </li>
            </ul>
        </li>
        <li>
            LiLBear72 - Runs the empyrion server
            <ul>
                <li>
                    <a href="http://wowl.vside-radio.com:8190/stream"
                        >Radio station</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.flickr.com/photos/rothgryphon/with/53321775276/"
                    >
                        Picture Portfolio
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://thepackgaming.com">The Pack Gaming</a> - Our affiliated
            gaming community, hosts our servers
            <ul>
                <li>
                    <a href="https://faq.thepackgaming.com/">FAQ</a>
                </li>
                <li>
                    <a href="https://discord.gg/SXnFrQXqvC">
                        Our shared discord server
                    </a>
                </li>
            </ul>
        </li>
    </article>
</section>
