---
import styles from "../styles/About.module.css"
import Divider from "./Divider.astro"
---

<section class={styles.about} id="donate">
    <h2>Donate</h2>
    <Divider />
    <article class={styles.textArticle}>
        If you're enjoying our server, consider donating! You can <a
            href="https://www.patreon.com/TheOwlRadio_BearsDivisionGaming"
            >donate to our patreon here</a
        >, or <a href="http://paypal.me/lilbear72">donate with paypal here</a>!
        <h3>Donator Bonuses (Prices in USD$)</h3>
        <h4>VIP kit for Nitro Boosters + Pack & Bear’s Patreon Folks</h4>
        <ul>
            <li>Heavy armor with 3 boosters of choice</li>
            <li>1 implant of choice</li>
            <li>Assorted medical supplies</li>
            <li>Assorted food and drinks</li>
            <li>5 platinum money cards</li>
            <li>One weapon of choice + 1 stack of ammo</li>
        </ul>
        <h4>Donator Kits</h4>
        <ul>
            <li>
                <b>Miner kit: $5.00</b> - 2 Automated Industrial Mining Rigs + 2
                Stacks of Industrial Fuel
            </li>
            <li>
                <b>Weapon and Armor kit: $10.00</b> - 1 set of high tier armor with
                boosters for the slots + 1 high tier weapon + 1 stack of ammo + 1
                high grade tool with charges + 1 stack of medical items and personal
                shields
            </li>
            <li>
                <b>Ore and Ingot kit: $20.00</b> - 1 stack of each ore type + ingots
            </li>
        </ul>
        <h4>Single Items</h4>
        <ul>
            <li>Divine Nanite Armor: <b>$8.00</b></li>
            <li>Divine Warp Drive: <b>$8.00</b></li>
            <li>Divine Universal Tool: <b>$5.00</b></li>
            <li>God Guardian Augment: <b>$8.00</b></li>
            <li>Elemental Crystal: <b>$1.00</b></li>
            <li>The Subtle Matter Cargo: <b>$10.00</b></li>
            <li>Divine CPU Core: <b>$5.00</b></li>
            <li>Voidium Crystal Sprout: <b>$1.00</b></li>
            <li>Ship Skin Block: <b>$2.00</b></li>
            <li>Car Skin Block: <b>$2.00</b></li>
        </ul>
    </article>
</section>
