---
import styles from "../styles/About.module.css"
import Divider from "./Divider.astro"
---

<section class={styles.about} id="donate">
	<h2>Donate</h2>
	<Divider />
	<article class={styles.textArticle}>
		If you're enjoying our server, consider donating! You can <a
			href="https://www.patreon.com/TheOwlRadio_BearsDivisionGaming"
			>donate to our patreon here</a
		>, or <a href="http://paypal.me/lilbear72">donate with paypal here</a>!
	</article>
</section>
