---
import { Icon } from "astro-icon"
import styles from "../styles/Nav.module.css"
---

<nav class={styles.nav}>
	<section>
		<a href="/">
			<img src="/images/logo.svg" alt="The Bears Division" />
		</a>
		<a href="/#">Home</a>
		<a href="/#server">Server</a>
		<a href="/#donate">Donate</a>
	</section>
	<section>
		<a
			target="_blank"
			rel="noreferrer"
			href="https://discord.gg/SXnFrQXqvC"
			class={styles.discord}
		>
			<Icon name="bi:discord" />
		</a>
	</section>
</nav>
