---
import styles from "../styles/About.module.css"
import Divider from "./Divider.astro"
---

<section id="server" class={styles.about}>
	<h2>Server Info</h2>
	<Divider />
	<article class={styles.textArticle}>
		<p>
			Hey you, what are you doing wasting away on some back water farm
			world? Don’t you want to live a life of wild adventure in the stars?
			Suit up, grab a ship, and head out into the great void in Empyrion!
			Find new worlds with resources to harvest and aliens to hunt!
			Pirates and mercenaries abound, and are always looking to shoot you
			and take what you have.
		</p>

		<p>
			In the 24th Century, mankind has spanned the cosmos in an effort to
			locate resources and innovations. You are one of the many explorers
			trying to make your fortune and a name for yourself in this exciting
			game called Empyrion. Empyrion is a Galactic Survival game, and you
			can play on the server hosted by Bears’s Division Gaming for a
			stable experience, allowing you the chance to explore and survive.
			We use the Reforged Eden Atlantis scenario for its fun instances,
			and we disable EAC for a better experience. We also turn on keep
			inventory, so you keep your items when you die. To make things more
			fun, we have food and oxygen consumption low and a rich number of
			deposits on each world. Construction and blueprint timers are set to
			normal.
		</p>

		<p>
			You can join the server at 24.96.196.41, or by searching through
			servers ingame. <a href="https://discord.gg/SXnFrQXqvC"
				>Make sure to join our community discord server here</a
			>!
		</p>
	</article>
</section>
